<div class="grid-container">
  <h1 class="mat-h1">Channels</h1>
  <mat-grid-list [cols]="card.num" rowHeight="128px">
    <mat-grid-tile *ngFor="let pl of db.currentPlaylist$ | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3>{{pl.name}}</h3>
            <button mat-icon-button class="fav-button" (click)="pl.fav=!pl.fav;">
              <mat-icon></mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Pin to top</button>
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>